header,
footer {
  background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
  text-align: center;
  display: flex;
  justify-content: center;
}

/* base styles for SignIn.jsx */
.main-container {
  width: 100vw;
  height: 100vh;
}

.logo-container {
  margin-bottom: 80px;
}

.central-content {
  width: 50%;
  margin-top: 80px;
}

.content-stack {
  width: 80%;
}

.side-image {
  display: flex;
  width: 15%;
}

/* responsive design */
/* started with SignIn.jsx */
@media (max-width: 768px) {
  .logo-container {
    margin-bottom: 60px;
  }

  .central-content {
    width: 70%;
    margin-top: 60px;
  }

  .content-stack {
    width: 90%;
  }

  .side-image {
    display: none;
  }
}

@media (max-width: 480px) {
  .logo-container {
    margin-bottom: 40px;
  }

  .central-content {
    width: 90%;
    margin-top: 40px;
  }

  .content-stack {
    width: 100%;
  }
}

/* base styles for UserProfile.jsx */
.user-profile-page {
  background-color: #edf2f7;
  min-height: 100vh;
  padding: 10px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-page .header {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.form-item {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.centered-form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centered-form-item label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centered-form-item input[type="text"],
.centered-form-item input[type="email"],
.centered-form-item textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

.centered-form-item textarea {
  height: 50px;
  resize: vertical;
  text-align: left;
}

button {
  background-color: #edf2f7;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #00b306;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Match the width of your form items */
  margin-top: 20px;
}

.profile-button {
  background-color: #a977bb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0;
  width: 100%;
  transition: background-color 0.3s, transform 0.1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-button:hover {
  background-color: #c464c3;
  transform: translateY(-2px);
}

.profile-button:active {
  transform: translateY(1px);
}

.profile-button.upload {
  background-color: #60a8a4; /* Green color for upload button */
}

.profile-button.upload:hover {
  background-color: #34c897;
}
